# file to ignore in commit

# default executable extension 'a.out'
*.out
# data files
*.dat
*.data
*.backup
*.old
# output files for simulation debug
*.debug
# editor swap files
.*swp
# various trash files
*trash*
# compilated object extension
*.o
# compilated Fortran module extension
*.mod
# Vortex image and other pdf
*.pdf
# LaTeX useless files
relazione/tex
*.aux*
*.log
*.bbl
*.blg
*.synctex*
# compressed archive
*.gz
