# file to ignore in commit

# default executable extension 'a.out'
*.out
# data files
*.dat
*.data
# output files for simulation debug
*.debug
# vim swap files
.*.swp
.trash/*
# compilated object extension
*.o
# compilated Fortran module extension
*.mod
# Vortex image and other pdf
*.pdf
